.booking--container {
  height: 100%;
}

.form--left,
.form--right {
  height: 100%;
}

.form--location {
  border: 1px solid #eee;
  border-top: 2px solid #1080f2;
}

.input--group {
  width: 100%;
  margin-bottom: 20px;
  margin: 0 auto;
  background: #fff;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #eee;
  :focus {
    outline: none;
  }

  .form--label {
    color: #999;
    padding: 1rem 0 0 1.5rem;
    font-size: 1.3rem;
  }

  .form--input {
    padding: 5px 15px 10px;
    border: 0;
  }

  .input--select {
    border: 0;
    outline: none;
    background: #fff;
    padding: 5px 15px;
  }
}

.form--step {
  width: 100%;
  margin: 1rem;
  flex-direction: column;
  background: #fff;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  ul {
    display: flex;
    width: 50%;
  }

  li {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
  }

  ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      margin: 1rem;
      height: 2.5rem;
      width: 2.5rem;
      background-color: #e82127;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      text-align: center;
      color: white;
    }
    small {
      display: none;
      text-align: center;
      @media (min-width: 600px) {
        display: inline;
      }
    }
  }
}

.booking--form {
  width: 90%;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #eee;
  @media (min-width: 600px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &--info {
    width: 90%;
    margin-bottom: 20px;
    margin: 2rem auto;
    flex-direction: column;
    background: #fff;
    @media (min-width: 600px) {
      //grid-column-start: 1;
    }
  }

  &--options {
    width: 90%;
    margin-bottom: 20px;
    margin: 2rem auto;
    flex-direction: column;
    background: #fff;
    @media (min-width: 600px) {
      grid-column-start: 1;
    }
  }

  &--map {
    width: 90%;
    margin-bottom: 20px;
    margin: 2rem auto;
    flex-direction: column;
    background: #fff;
    @media (min-width: 600px) {
      grid-column-start: 2;
    }

    .map {
      height: 20rem;
      width: 100%;
      @media (min-width: 600px) {
        height: 22.5rem;
      }
    }
  }
}

.form__btn {
  background: black;
  color: #fff;
  padding: 10px 25px;
  border-radius: 40px;
  border: none;
  text-transform: uppercase;
  margin: 0 auto;
  display: flex;
  text-align: center;
  justify-content: center;
  width: 85%;
  @media (min-width: 600px) {
    width: 30rem;
    grid-row-columns: 2;
  }
}
