.booking--container {
  width: 100%;
}

h3 {
}

.form--location {
  border: 1px solid #eee;
  border-top: 2px solid #1080f2;
}

.input--group {
  width: 100%;
  margin-bottom: 20px;
  margin: 0 auto;
  background: #fff;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #eee;

  .form--label {
    color: #999;
    padding: 1rem 0 0 1.5rem;
    font-size: 1.3rem;
  }

  .form--input {
    padding: 5px 15px 10px;
    border: 0;
  }
}

.booking--form {
  width: 90%;
  margin: 0 auto;
  background: #fff;

  &--step {
    width: 90%;
    margin-bottom: 20px;
    margin: 0 auto;
    flex-direction: column;
    background: #fff;
    ul li {
      list-style: none;
    }
  }

  &--info {
    width: 90%;
    margin-bottom: 20px;
    margin: 2rem auto;
    flex-direction: column;
    background: #fff;
  }

  &--options {
    width: 90%;
    margin-bottom: 20px;
    margin: 2rem auto;
    flex-direction: column;
    background: #fff;
  }

  &--map {
    width: 90%;
    margin-bottom: 20px;
    margin: 2rem auto;
    flex-direction: column;
    background: #fff;
  }
}

.form__btn {
  background: #1080f2;
  color: #fff;
  padding: 10px 25px;
  border-radius: 40px;
  text-transform: uppercase;
}
