.tesla {
  &__features {
    width: 100%;
    padding: 0.75rem;
  }

  &__intro {
     width: 100%;
    background-color: #f1f5f8;
  }

  &__services {
    padding: 0 2rem;
    width: 100%;
  }

  &__promote {
    padding: 0 2rem;
    width: 100%;
  }
}
