.booking {
  &__features {
    width: 100%;
    //overflow: hidden;

    ul {
      display: flex;
      text-align: center;
      justify-content: center;
      width: 100%;
      border-bottom: 1px solid #eee;

      li {
        width: 25%;
        font-size: 1.5rem;
        list-style: none;
        margin: 0.75rem 0.75rem 0 0.75rem;
        font-weight: 500;
        cursor: pointer;
        i {
          display: inline-block;
        }
      }
    }
    .current {
      border-bottom: 2px solid black;
    }
  }
  ///////////////////////////////////////////////////// Header func features

  &__intro {
    width: 100%;

    img {
      width: 100%;
    }
  }

  &__services {
    width: 100%;
    img {
      width: 100%;
    }
  }
}
