.tesla {
  &__features {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 5rem;
    @media (min-width: 600px) {
      padding: 10rem;
      margin: 0;
    }
  }

  &__intro {
    width: 100%;
    background-color: #f1f5f8;
    margin-bottom: 5rem;
    @media (min-width: 600px) {
      margin-bottom: 10rem;
    }
  }

  &__services {
    padding: 0 2rem;
    width: 100%;
    margin-bottom: 5rem;
    @media (min-width: 600px) {
      margin-bottom: 10rem;
      padding: 0 10rem;
    }
  }

  &__promote {
    padding: 0 2rem;
    width: 100%;
  }
}
