.tesla__features {
  ul {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #eee;
    @media (min-width: 600px) {
      border: 1px solid #eee;
    }

    li {
      width: 25%;
      font-size: 1.5rem;
      list-style: none;
      margin: 0.75rem 0.75rem 0 0.75rem;
      font-weight: 500;
      cursor: pointer;
      @media (min-width: 600px) {
        width: 10%;
      }
      i {
        display: inline-block;
      }
    }
  }
}

.features {
  padding: 0 2rem;
  @media (min-width: 600px) {
    border: 1px solid #eee;
  }

  &__content {
    display: none;
    margin: 1rem;
    border: 1px solid #eee;
    @media (min-width: 600px) {
      width: 50%;
    }

    h1 {
      font-size: 3rem;
      font-weight: 500;
      margin-bottom: 2rem;
      text-align: center;
    }

    .ride--form {
      width: 100%;
      margin: 0 auto;
      background: #f6f6f6;
      border: 1px solid #eee;
      padding: 1.5rem 1rem;
      margin-bottom: 2.5rem;
      @media (min-width: 600px) {
        display: flex;
        align-items: center;
        width: 80%;
      }
    }
  }
  &__content--active {
    display: inline;
  }
}

.booking__tab--active {
  border-bottom: 2px solid black;
}
