.features {
  height: 70vh;
  width: 100%;

  &__ride {
    margin: 1rem;
    h1 {
      font-size: 3rem;
      font-weight: 500;
      margin-bottom: 2rem;
    }

    .ride--form {
      width: 100%;
      margin: 0 auto;
      background: #f6f6f6;
      border: 1px solid #eee;
      padding: 1.5rem 1rem;
      margin-bottom: 2.5rem;
    }
  }

  
}
