.footer {
  background-color: #000000;
  color: white;
  ul {
    li {
      list-style: none;
    }
    @media (min-width: 600px) {
      display: flex;
    }
  }

  small {
    background-color: #fff;
    color: #000000;
    justify-content: center;
    display: flex;
  }
}
