.header {
  background-color: #14171c;
  height: 5rem;

  ul li {
    list-style: none;
  }
}

//////////////////////////////////////////////////
//////// LOGO
.logo {
  margin: 2rem;
  width: 25%;
  @media (min-width: 600px) {
    width: 10%;
  }
}
