.promote {
  padding: 0 2rem;
  width: 100%;
  .tesla--app {
    width: 100%;
  }

  &--download {
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    img {
      width: 80%;
    }
  }
}
