.promote {
  width: 100%;
  background-color: #afccf8;
  @media (min-width: 600px) {
    display: flex;
  }

  &--intro {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    @media (min-width: 600px) {
      padding: 3rem;
    }
    p {
      text-align: left;
      margin-bottom: 1rem;
    }

    &--store {
      display: flex;
      align-items: center;
      @media (min-width: 600px) {
        align-items: center;
      }
      a {
        width: 100%;
        &:not(:last-child) {
          margin-right: 1rem;
        }
      }

      .ios-app,
      .google-play {
        width: 80%;
      }
    }
  }

  &--app {
    width: 100%;
    &--img {
      width: 100%;
    }
  }
}
