.promote {
  width: 100%;
  background-color: #afccf8;
  @media (min-width: 600px) {
    display: flex;
  }

  &--intro {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    p {
      text-align: left;
      margin-bottom: 1rem;
    }
    &--store {
      display: flex;
      a {
        width: 100%;
        text-decoration: none;
        &:not(:last-child) {
          margin-right: 1rem;
        }

        img {
          width: 100%;
          height: 5rem;
        }
      }
      @media (min-width: 600px) {
        display: inline;
      }
    }
  }

  &--app {
    width: 100%;
    &--img {
      width: 100%;
    }
  }
}
