.tesla__services {
  display: grid;
  gap: 10rem;
  &__content {
    display: grid;
    gap: 5rem;

    @media (min-width: 600px) {
      &:nth-child(even) {
        img {
          order: -1;
        }
      }
    }

    img {
      width: 100%;
    }
    @media (min-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
    }
    .content--text {
      @media (min-width: 600px) {
      }
    }

    .content--img {
      @media (min-width: 600px) {
      }
    }
  }
}
