.tesla__services {
  display: grid;
  gap: 5rem;
  &__content {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    display: grid;
    gap: 5rem;
    @media (min-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
      &:nth-child(even) {
        .content--img {
          order: -1;
        }
      }
    }

    .content--text {
      .content__header {
        margin-bottom: 1rem;
      }

      .content__paragraph {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        a {
          margin-bottom: 1rem;
          color: #393c41;
          text-decoration: underline;
        }
      }
    }
  }
}
